# Ignore virtual environments
venv/
.Venv/
ENV/
env/

# Ignore data files
data/
*.csv

# Ignore model files
models/
*.h5
*.npy

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
*.swo

# Ignore History
.History/
.History
